<div style="margin-top: 65px;"></div>
<mat-card >
    <mat-card-title>The Partner Of This Box</mat-card-title>
    <mat-card-content>
      <p>Id: {{ box.id}}</p>
      <p>Name: {{ box.name}}</p>
      <p>Description: {{ box.description}}</p>
      <p>Email: {{ box.email }}</p>
      <p>Phone: {{ box.phone }}</p>
      <p>Image: {{ box.image }}</p>
      <p>Category: {{ box.category }}</p>
      <p>Opening Time: {{ box.openingtime }}</p>
      <p>Closing Time: {{ box.closingtime }}</p>
    </mat-card-content>
  </mat-card>
  