<div style="margin-top: 62px;"></div>
<div class="row">
  <div class="col-md-10 mb-4">
    <input type="text" class="form-control" placeholder="Search by email and phone" [(ngModel)]="search" (keyup.enter)="SearchUser()">
  </div>

  <div class="col-md-2 mb-4">
    <div class="input-group-append">
      <select class="form-select select-width" id="status-select" (change)="getStatusInputValue($any($event).target.value)">
        <option value="">Select</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="INACTIVE">INACTIVE</option>
      </select>
    </div>
  </div>
</div>

<div class="pt-3 pb-2 mb-3 border-bottom">
  <a routerLink="/users/create" class="btn btn-sm btn-outline-secondary">Add</a>
</div>
<div *ngIf="loaded && dataSource.data.length === 0" class="alert alert-warning">
  No Data Found
</div>
<div class="spinner-container" *ngIf="!loaded">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
<table mat-table *ngIf="dataSource.data.length >0 && loaded" [dataSource]="dataSource"  class="table table-striped table-sm mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">ID</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row"> {{user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Name</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row"> {{user.name}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Email</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row"> {{user.email}} </td>
  </ng-container>


  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Phone</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row"> {{user.phone}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Status</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row">
      <label class="switch">
        <input type="checkbox" class="form-check-input" [checked]="user.status === 'ACTIVE'" (change)="toggleStatus(user)">
        <span class="slider round"></span>
      </label>
    </td>
  </ng-container>


  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Actions</span></th>
    <td mat-cell *matCellDef="let user" class="col-md-1 column-cell text-center custom-header-row">
        <button mat-icon-button [routerLink]="['/users',user.id,'edit']">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(user .id)">
          <mat-icon>delete</mat-icon>
        </button>
    </td>
  </ng-container>


  <ng-container matColumnDef="show details">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Show Details </span></th>
    <td mat-cell *matCellDef="let user">
      <button [routerLink]="['/users',user.id,'details']" mat-icon-button >
        <mat-icon>find_in_page</mat-icon>
      </button>
    </td>
  </ng-container>
 

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns:columns;"></tr>
</table>


<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons 
aria-label="Select page of periodic elements">
</mat-paginator>

    
   









