<div style="margin-top: 62px;"></div>
<h3 class="mt-4">Add User :</h3>
 <form [formGroup]="form" (submit)="submit()">
    <div class="form-group">
        <label for="name">Name</label>
       <input formControlName="name" class="text form-control" type="text" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
       <input formControlName="email" class="text form-control" type="email" id="email" name="email" >
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
       <input formControlName="phone" class="text form-control" type="number" id="phone" name="phone">
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select formControlName="status" class="text form-control" id="status" name="status">
          <option value="ACTIVE">ACTIVE</option>
          <option value="INACTIVE">INACTIVE</option>
        </select>
  </div>
  <div class="form-group">
    <label for="birthday">Birthday Date</label>
    <input formControlName="birthday" class="form-control" type="date" id="birthday" name="birthday">
</div>
<div class="form-group">
  <label>Sexe</label><br>
  <div class="radio-buttons">
    <input type="radio" id="male" name="sexe" value="male">
    <label for="male">MALE</label>
    <span class="radio-spacing"></span>
    <input type="radio" id="female" name="sexe" value="female">
    <label for="female">FEMALE</label>
  </div>
</div>

    <div class="form-group">
        <label for="password">Password</label>
       <input formControlName="password" class="text form-control" type="password" id="password" name="password">
    </div>
    <button [disabled]="!(form.valid && form.dirty)" class="btn btn-dark btn -sm mt-4">Save</button>
</form>
  