<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>ADMIN LOGIN</h1>
            <h6>Please enter email & password!</h6>
          </div>
          <main class="form-signin">
            <form [formGroup]="form" (submit)="submit()">
              <label for="email" class="form-label">Email address</label>
              <input formControlName="email" name="email" type="email" class="form-control" placeholder="Email address" required>
              
              <label for="password" class="form-label">Password</label>
              <input formControlName="password" name="password" type="password" class="form-control" placeholder="Password"
                     required>
          
              <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">LOGIN</button>
            </form>
            <a style="color: #fff; margin-top: 10px ;" routerLink="/register">New admin? Click to signup!</a>
          </main>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  