
<mat-card *ngIf="order" style="border: 1px solid #34425A; margin-top: 65px;">
    <mat-card-title><span style="color: #34425A; font-weight: bold; font-size: 24px;">Order Details :</span></mat-card-title>
    <mat-card-content>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Id: </span> {{ order.user.id }}</p>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Name: </span>{{ order.user.name}}</p>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Email:</span> {{ order.user.email}}</p>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Phone: </span>{{ order.user.phone }}</p>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Birthday: </span>{{ order.user.birthday }}</p>
      <p><span style="color: #34425A; font-size: 16px;font-weight: bold;">User Sexe: </span>{{ order.user.sexe }}</p>
      <table class="table table-striped table-sm mat-elevation-z8 custom-table">
        <thead>
          <tr>
            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">#</th>
            
            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Box Title</th>
            
            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Quantity</th>
            
            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Price</th>

            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Partner Id</th>

            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Partner Name</th>

            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Partner Email</th>

            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Partner Phone</th>

            <th class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">Partner Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let box of order.boxs">
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.id}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.title}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.pivot.quantity}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.newprice}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.partner_id}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.partner.name}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.partner.email}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.partner.phone}} </td>
            <td class="col-md-1 column-cell text-center custom-header-row"> {{box.partner.category}} </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card> 