<!-- <mat-expansion-panel hideToggle *ngIf="order">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ order.id}} {{order.user_id}}
      </mat-panel-title>
      <mat-panel-description>
        {{order.total_prix}} DT
      </mat-panel-description>
    </mat-expansion-panel-header>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
        <th>#</th>
        <th>Product Title</th>
        <th>Price</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let orderBox of order.commande_paniers">
            <td>{{ orderBox.id }}</td>
             <td>{{item.product_title}}</td>
            <td>{{item.price}}</td> -->
      
            <!-- <tbody>
      </tbody>
    </table>
  </mat-expansion-panel> --> 








 
<mat-card *ngIf="order">
    <mat-card-title>Order Details</mat-card-title>
    <mat-card-content>
      <p>Date: {{ order.date_cmd }}</p>
      <p>Time: {{ order.heure_cmd }}</p>
      <p>User Id: {{ order.user_id}}</p>
      <p>Email: {{ order.email}}</p>
      <p>Total Price: {{ order.total_prix}}</p>
      <p>Status: {{ order.statut }}</p>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            
            <th>Box Title</th>
            
            <th>Quantity</th>
            
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orderBox of order.commande_paniers">
            <td>{{ orderBox.panier_id }}</td>
            <td>{{ orderBox.title }}</td>
            <td>{{ orderBox.quantite }}</td>
            <td>{{ orderBox.prix }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card> 