<div style="margin-top: 65px;"></div>
<mat-card *ngIf="order">
    <mat-card-title>Order Details :</mat-card-title>
    <mat-card-content>
      <p>User Id: {{ order.user.id }}</p>
      <p>User Name: {{ order.user.name}}</p>
      <p>User Email: {{ order.user.email}}</p>
      <p>User Phone: {{ order.user.phone }}</p>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>#</th>
            
            <th>Box Title</th>
            
            <th>Quantity</th>
            
            <th>Price</th>

            <th>Partner Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let box of order.boxs">
            <td> {{box.id}} </td>
            <td> {{box.title}} </td>
            <td> {{box.pivot.quantity}} </td>
            <td> {{box.newprice}} </td>
            <td> {{box.partner_id}} </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card> 