mat-icon{
    color: rgb(158, 158, 160);
}
mat-icon:hover{
    color: rgb(125, 125, 128);
}

.add-icon{
    color: green;
    font-size: 2rem;
    transition: font-size 500ms;
    transition-timing-function: ease-in-out;

    /* transition-duration: 500; */
}

.add-icon:hover{
    color: rgb(20, 105, 3);
    font-size: 2.5rem;
    /* transform: scale(1.3); */

    
}