<div class="col-md-12 mb-4 input-group">
  <input type="text" class="form-control" placeholder="Search">
</div>

<div class="pt-3 pb-2 mb-3 border-bottom">
  <a routerLink="/boxs/create" class="btn btn-sm btn-outline-secondary">Add</a>
</div>
<table mat-table [dataSource]="dataSource" class="table table-striped table-sm mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let box"> {{box.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let box"> {{box.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let box"> {{box.description}} </td>
  </ng-container>

  <ng-container matColumnDef="oldprice">
    <th mat-header-cell *matHeaderCellDef>Old Price</th>
    <td mat-cell *matCellDef="let box"> {{box.oldprice}} </td>
  </ng-container>

  <ng-container matColumnDef="newprice">
    <th mat-header-cell *matHeaderCellDef>New Price</th>
    <td mat-cell *matCellDef="let box"> {{box.newprice}} </td>
  </ng-container>

  <ng-container matColumnDef="startdate">
    <th mat-header-cell *matHeaderCellDef>Start Availability</th>
    <td mat-cell *matCellDef="let box"> {{box.startdate}} </td>
  </ng-container>

  <ng-container matColumnDef="enddate">
    <th mat-header-cell *matHeaderCellDef>End Of Availability</th>
    <td mat-cell *matCellDef="let box"> {{box.enddate}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let box"> {{box.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="remaining_quantity">
    <th mat-header-cell *matHeaderCellDef>Remaining Quantity</th>
    <td mat-cell *matCellDef="let box"> {{box.remaining_quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="image">
    <th mat-header-cell *matHeaderCellDef>Image</th>
    <td mat-cell *matCellDef="let box">
      <img [src]="box.image? imageDirectoryPath+box.image : 'assets/images/noImg'" height="50" />
    </td>
    <!-- <td mat-cell *matCellDef="let box"><img [src]="box.image"  height="50"/></td> -->
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let box"> {{box.category}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let box"> {{box.status}} </td>
  </ng-container>

  <!-- <ng-container matColumnDef="partner_id">
    <th mat-header-cell *matHeaderCellDef>Partner Id</th>
    <td mat-cell *matCellDef="let box"> {{box.partner_id}} </td>
  </ng-container> -->

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let box">
      <a class="btn btn-sm btn-outline-secondary" [routerLink]="['/boxs',box.id,'edit']">Edit</a>
      <a class="btn btn-sm btn-outline-secondary" (click)="delete(box.id)">Delete</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="show details">
    <th mat-header-cell *matHeaderCellDef>Show Details </th>
    <td mat-cell *matCellDef="let box">
      <a [routerLink]="['/boxs',box.id,'details']" class="btn btn-sm btn-outline-secondary">Show</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns:columns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>