<h3 class="mt-4">Edit User :</h3>
 <form [formGroup]="form" (submit)="submit()">
    <div class="form-group">
        <label for="name">Name</label>
       <input formControlName="name" class="text form-control" type="text" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
       <input formControlName="email" class="text form-control" type="email" id="email" name="email" >
    </div>
    <div class="form-group">
        <label for="phone">Phone</label>
       <input formControlName="phone" class="text form-control" type="number" id="phone" name="phone">
    </div>
    
    <button class="btn btn-dark btn -sm mt-4">Save</button>
</form>
  