<div style="margin-top: 62px;"></div>
<h3 class="mt-4">Edit User :</h3>
 <form [formGroup]="form" (submit)="submit()">
    <div class="form-group">
        <label for="name">Name</label>
       <input formControlName="name" class="text form-control" type="text" id="name" name="name">
    </div>

    <div style="color: red;" *ngIf="form.controls['name'].touched && form.controls['name'].invalid "
    for="name">
    <span *ngIf="form.controls['name'].errors!['required']">This Field Is Mandatory</span>
    <span *ngIf="form.controls['name'].errors!['pattern']">This Field Is Invalid</span>
  </div>

    <div class="form-group">
        <label for="email">Email</label>
       <input formControlName="email" class="text form-control" type="email" id="email" name="email" >
    </div>

    <div style="color: red;" *ngIf="form.controls['email'].touched && form.controls['email'].invalid "
    for="email">
    <span *ngIf="form.controls['email'].errors!['required']">This Field Is Mandatory</span>
    <span *ngIf="form.controls['email'].errors!['pattern']">This Field Is Invalid</span>
  </div>

    <div class="form-group">
        <label for="phone">Phone</label>
       <input formControlName="phone" class="text form-control" type="number" id="phone" name="phone">
    </div>

    <div style="color: red;" *ngIf="form.controls['phone'].touched && form.controls['phone'].invalid "
    for="phone">
    <span *ngIf="form.controls['phone'].errors!['required']">This Field Is Mandatory</span>
    <span *ngIf="form.controls['phone'].errors!['pattern']">This Field Is Invalid</span>
  </div>
    
  <div class="form-group">
    <label for="birthday">Birthday</label>
   <input formControlName="birthday" class="text form-control" type="date" id="birthday" name="birthday">
</div>

<div style="color: red;" *ngIf="form.controls['birthday'].touched && form.controls['birthday'].invalid "
for="birthday">
<span *ngIf="form.controls['birthday'].errors!['required']">This Field Is Mandatory</span>
<span *ngIf="form.controls['birthday'].errors!['pattern']">This Field Is Invalid</span>
</div>

<!-- <div class="form-group">
  <label for="sexe">Sexe</label>
 <input formControlName="sexe" class="text form-control" type="text" id="sexe" name="sexe">
</div> -->


<div class="form-group">
  <label for="sexe">Sexe</label>
  <div>
    <input formControlName="sexe" type="radio" id="sexe-male" name="sexe" value="male">
    <label for="sexe-male">Male</label>
    <span class="radio-spacing"></span>
    <input formControlName="sexe" type="radio" id="sexe-female" name="sexe" value="female">
    <label for="sexe-female">Female</label>
  </div>
</div>


<div style="color: red;" *ngIf="form.controls['sexe'].touched && form.controls['sexe'].invalid "
for="sexe">
<span *ngIf="form.controls['sexe'].errors!['required']">This Field Is Mandatory</span>
<span *ngIf="form.controls['sexe'].errors!['pattern']">This Field Is Invalid</span>
</div>

    <button  [disabled]="(form.valid)" class="btn btn-dark btn -sm mt-4">Save</button>
</form>
  


<!-- update password -->

<div style="margin-top: 62px;"></div>
<h3 class="mt-4">Edit User Password :</h3>
 <form [formGroup]="passwordform" (submit)="submitPassword()">
    <div class="form-group">
        <label for="password">Password</label>
       <input formControlName="password"  minlength="6" class="text form-control" type="text" id="password" name="password">
    </div>

    <div style="color: red;" *ngIf="passwordform.controls['password'].touched && passwordform.controls['password'].invalid "
    for="name">
    <span *ngIf="passwordform.controls['password'].errors!['required']">This Field Is Mandatory</span>
    <span *ngIf="passwordform.controls['password'].errors!['Length']">Password Must Be More Then 6 Characters</span>
  </div>

    
    <button  [disabled]="!(passwordform.valid)" class="btn btn-dark btn -sm mt-4">Save</button>
</form>
  