<div style="margin-top: 62px;"></div>
<div class="row">
  <div class="col-md-10 mb-4">
    <input type="text" class="form-control" placeholder="Search by email and phone" [(ngModel)]="search" (keyup.enter)="SearchPartner()">
  </div>
  <div class="col-md-2 mb-4">
    <div class="input-group-append">
      <select class="form-select select-width" id="category-select" (change)="getCategoryInputValue($any($event).target.value)">
        <option value="">Select</option>
        <option value="SUPERMARKET">Supermarket</option>
        <option value="BAKERY">Bakery</option>
        <option value="PASTRIES">Pastries</option>
        <option value="RESTAURANT">Restaurant</option>
        <option value="COFFEE SHOP">Coffee Shop</option>
        <option value="HOTEL">Hotel</option>
        <option value="CATERER">Caterer</option>
        <option value="LOCAL PRODUCERS">Local Producers</option>
      </select>
    </div>
  </div>
</div>


<div class="pt-3 pb-2 mb-3 border-bottom">
    <a routerLink="/partners/create" class="btn btn-sm btn-outline-secondary">Add</a>
  </div>
  <div *ngIf="loaded && dataSource.data.length === 0" class="alert alert-warning">
    No Data Found
  </div>
  <div class="spinner-container" *ngIf="!loaded">
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <table mat-table *ngIf="dataSource.data.length >0 && loaded " [dataSource]="dataSource" class="table table-striped table-sm mat-elevation-z8 custom-table">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">  <span style="color: #34425A; font-weight: bold; font-size: 18px;">ID</span></th>
      <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 16px;">Name</span></th>
      <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="col-md-3 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 16px;">Description</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-3 column-cell text-center custom-header-row"> {{partner.description}}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 16px;">Email</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.email}} </td>
      </ng-container>
        
  
  
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Phone</span></th>
      <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.phone}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Image</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"><img [src]="partner.image? imageDirectoryPath+partner.image :'assets/images/noImg' "  style="width: 50px; height: 50px; border: 1px solid rgb(158, 158, 160);"/></td>
      </ng-container>
    
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Category</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.category}} </td>
      </ng-container>
   
      <ng-container matColumnDef="openingtime">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Opening Time</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.openingtime}} </td>
      </ng-container>

      <ng-container matColumnDef="closingtime">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Closing Time</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row"> {{partner.closingtime}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Status</span></th>
        <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row">
          <select [(ngModel)]="partner.status" class="form-select select-width" (change)="toggleStatus(partner)">
            <option value="PENDING">Pending</option>
            <option value="ACTIVE">Active</option>
            <option value="INACTIVE">Inactive</option>
          </select>
        </td>
      </ng-container>
      
      
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Actions</span></th>
      <td mat-cell *matCellDef="let partner" class="col-md-1 column-cell text-center custom-header-row">
          <button mat-icon-button [routerLink]="['/partners',partner.id,'edit']" class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(partner.id)" class="delete-button">
            <mat-icon>delete</mat-icon>
          </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="show details">
      <th mat-header-cell *matHeaderCellDef class="col-dm-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 16px;">Show Details</span></th>
      <td mat-cell *matCellDef="let partner" class="col-dm-1 column-cell text-cente custom-header-rowr">
        <button [routerLink]="['/partners',partner.id,'details']" mat-icon-button class="show-button">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns:columns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons 
               aria-label="Select page of periodic elements">
</mat-paginator>
  

  
  
  
  
  
  
  
  