<div class="container">
  <div class="rectangle" id="rectangle1">
    <img src="assets/images/partners.png" alt="Image 1" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle; margin-left: 10px;">
    <h3 style=" font-size: larger ;display: inline-block; vertical-align: middle; margin-top: 5px; margin-left: 10px;">Total Partners :</h3>
    <h2 style="  font-size: larger ;margin-top: -10px; margin-left: 120px;">{{ partnersCount }}</h2>
  
    <button class="no-border" style="background: none; border: none;" (click)="redirectToPartners()">
      <h6 style="margin-left: 20px; text-decoration: underline; color: white;">
        View Details
        <i class="fas fa-chevron-right" style="margin-left: 130px; color: white;"></i>
      </h6>
    </button>
  </div>
  


    <div class="rectangle" id="rectangle2">
        <img src="assets/images/user.png" alt="Image 1" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin-left: 10px;">
        <h3 style="font-size: larger ; display: inline-block; vertical-align: middle;margin-top: 30px;margin-left: 10px;">Total Users</h3>
        <h2 style="font-size: larger ;margin-top: -10px; margin-left: 120px;">{{ usersCount }}</h2>
        <button class="no-border" style="background: none; border: none;" (click)="redirectToUsers()">
          <h6 style="margin-left: 20px; text-decoration: underline; color: white;">
            View Details
            <i class="fas fa-chevron-right" style="margin-left: 130px; color: white;"></i>
          </h6>
        </button>
      </div> 
      <div class="rectangle" id="rectangle3">
        <img src="assets/images/box.png" alt="Image 1" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin-left: 10px;">
        <h3 style=" font-size: larger ; display: inline-block; vertical-align: middle;margin-top: 30px;margin-left: 10px;">Total Boxes</h3>
        <h2 style=" font-size: larger ; margin-top: -10px; margin-left: 120px;">{{ boxesCount }}</h2>
        <button class="no-border" style="background: none; border: none;" (click)="redirectToBoxes()">
          <h6 style="margin-left: 20px; text-decoration: underline; color: white;">
            View Details
            <i class="fas fa-chevron-right" style="margin-left: 130px; color: white;"></i>
          </h6>
        </button>
      </div> 
      <div class="rectangle" id="rectangle4">
        <img src="assets/images/order.png" alt="Image 1" style="width: 50px; height: 50px; display: inline-block; vertical-align: middle;margin-left: 10px;">
        <h3 style=" font-size: larger ; display: inline-block; vertical-align: middle;margin-top: 30px;margin-left: 10px;">Total Orders</h3>
        <h2 style="font-size: larger ;margin-top: -10px; margin-left: 120px;">{{ ordersCount }}</h2>
        <button class="no-border" style="background: none; border: none;" (click)="redirectToOrders()">
          <h6 style="margin-left: 20px; text-decoration: underline; color: white;">
            View Details
            <i class="fas fa-chevron-right" style="margin-left: 130px; color: white;"></i>
          </h6>
        </button>
      </div>
  </div>
  <div style="display: flex;">
    <div class="statrectangle custom-width" id="rectangle5" style="background-color: white; border: 2px solid #e98494;">
      <h3 style="display: inline-block; vertical-align: middle;margin-top: 10px;margin-left: 10px;color: #e98494;">Orders Status :</h3>
      <div>
        <canvas #chartCanvas></canvas>
      </div>
    </div>
    <div class="statrectangle custom-width" id="rectangle6" style="background-color: white; border: 2px solid #B2D8B2;">
      <h3 style="display: inline-block; vertical-align: middle;margin-top: 10px;margin-left: 10px;color: #B2D8B2;">Boxes Status :</h3>
      <div style=" margin-top: 100px;">
        <canvas #barChartCanvas></canvas>

      </div>
    </div>
</div>
<div style="display: flex;">
  <div class="statrectangle custom-width" id="rectangle5" style="background-color: white; border: 2px solid #f0a869;">
    <h3 style="display: inline-block; vertical-align: middle;margin-top: 10px;margin-left: 10px;color: #f0a869;">Users Status :</h3>
    <div>
      <canvas #doughnutChartCanvas></canvas>
    </div>
  </div>
  <div class="statrectangle custom-width" id="rectangle6" style="background-color: white; border: 2px solid #7ac3dd;">
    <h3 style="display: inline-block; vertical-align: middle;margin-top: 10px;margin-left: 10px;color: #7ac3dd;">Partners Status :</h3>
    <div>
      <canvas #polarAreaChartCanvas></canvas>
    </div>
  </div>
</div>


  
  
  

