.container {
    margin-top: 90px;
    display: flex;
  }
  
  .rectangle {
    flex: 0 0 25%;
    height: 140px;
    margin-right: 10px;
    color: white; 
    position: relative; 
  }


  .statrectangle {
    flex: 0 0 25%;
    height: 600px;
    margin-top: 20px;
    margin-left: 25px;
    width: 540px;
    color: white; 
    position: relative; 
  }
  

  .rectangle h3 {
    
    bottom: 5px; 
    left: 5px; 
  }

  .no-border {
    border: none;
    outline: none;
  }
  
  
  #rectangle1 {
    background-color: #7ac3dd; 
  }
  
  #rectangle2 {
    background-color: #f0a869; 
  }
  
  #rectangle3 {
    background-color: #B2D8B2; 
  }
  
  #rectangle4 {
    background-color: #e98494; 
  }
  