<h3 class="mt-4">Edit Order :</h3>
 <form [formGroup]="form" (submit)="submit()">
   
    <div class="form-group">
        <label for="status">Status</label>
        <select formControlName="status" class="text form-control" id="status" name="status">
            <option value="PENDING">PENDING</option>
            <option value="AUTHORIZED">AUTHORIZED</option>
            <option value="REJECTED">REJECTED</option>
            <option value="SUCCESS">SUCCESS</option>
          </select>
    </div>
    <button class="btn btn-dark btn -sm mt-4">Save</button>
</form>
  
