<div style="margin-top: 62px;"></div>
<div class="row">
  <div class="col-md-10 mb-4">
    <input type="text" class="form-control" placeholder="Search by Id and User Id" [(ngModel)]="search"
      (keyup.enter)="SearchOrder()">
  </div>
  <div class="col-md-2 mb-4">
    <div class="input-group-append">
      <select class="form-select select-width" id="category-select"
        (change)="getStatusInputValue($any($event).target.value)">
        <option value="">Select</option>
        <option value="PENDING">PENDING</option>
        <option value="SUCCESS">SUCCESS</option>
        <option value="CANCEL">CANCEL</option>
      </select>
    </div>
  </div>
</div>

<div class="pt-3 pb-2 mb-3 border-bottom">
  <a routerLink="/orders/create" class="btn btn-sm btn-outline-secondary">Add</a>
</div>

<div *ngIf="loaded && dataSource.data.length === 0" class="alert alert-warning">
  No Data Found
</div>
<div class="spinner-container" *ngIf="!loaded">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div *ngIf="!loaded" class="lds-dual-ring"></div>
<table mat-table *ngIf="dataSource.data.length >0 && loaded" [dataSource]="dataSource"
  class="table table-striped table-sm mat-elevation-z8 custom-table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">ID</span></th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row"> {{order.id}} </td>
  </ng-container>

  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Created at</span></th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row"> {{ datePipe.transform(order.created_at, 'yyyy-MM-dd HH:mm:ss') }} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Status</span></th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row">
      <select [(ngModel)]="order.status" class="form-select select-width" (change)="toggleStatus(order)" >
        <option value="PENDING">PENDING</option>
        <option value="SUCCESS">SUCCESS</option>
        <option value="CANCEL">CANCEL</option>
      </select>
    </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">Total Price</span></th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row"> {{order.price}} </td>
  </ng-container>

  <ng-container matColumnDef="user_id">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;"><span style="color: #34425A; font-weight: bold; font-size: 18px;">User Id</span></th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row"> {{order.user_id}} </td>
  </ng-container>



  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="col-md-1 column-cell text-center custom-th custom-header-row" style="vertical-align: middle; text-align: center;">
      <span style="color: #34425A; font-weight: bold; font-size: 18px; display: flex; justify-content: center; align-items: center;">Actions</span>
    </th>
    <td mat-cell *matCellDef="let order" class="col-md-1 column-cell text-center custom-header-row" style="vertical-align: middle; text-align: center;">
      <div style="display: flex; justify-content: center; align-items: center;">
        <button mat-button (click)="delete(order.id)" class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button [routerLink]="['/orders',order.id,'details']" mat-button class="show-button">
          <mat-icon>find_in_page</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>



      <!-- <button mat-icon-button [routerLink]="['/orders',order.id,'edit']">
        <mat-icon>edit</mat-icon>
      </button> -->
      


  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns:columns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]"
showFirstLastButtons 
aria-label="Select page of periodic elements">
</mat-paginator>